@import "tailwindcss";

.custom-day {
    font-weight: 500;
}

.busy-day {
    color: #dc2626 !important;

}

.past-day {
    color: #9ca3af !important;
}

.available-day {
    color: #16a34a !important;
}

/* For blockquote */
.ql-editor blockquote {
    border-left: 4px solid #ccc;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-left: 16px;
}

/* For alignment */
.ql-align-center {
  text-align: center;
}
.ql-align-right {
  text-align: right;
}
.ql-align-justify {
  text-align: justify;
}

/* For code block */
.ql-code-block {
  background-color: #000000;
  color: #BBB81D;
  padding: 12px;
  font-family: 'Courier New', monospace;
  border-radius: 6px;
  overflow-x: auto;
  margin: 1em 0;
}

/* For iframe (YouTube) centering */
.ql-video {
  display: block;
  max-width: 100%;
  margin: 1.5rem auto;
}