@import "tailwindcss";

.custom-day {
    font-weight: 500;
}

.busy-day {
    color: #dc2626 !important;

}

.past-day {
    color: #9ca3af !important;
}

.available-day {
    color: #16a34a !important;
}